In [13]:
import pandas as pd

import sys
sys.path.append('..')

In [14]:
from ToolsLoanCalculator import LoanCalculator

In [15]:
LoanCalculator.test(9)

This is the number: 9

18

In [11]:
data = pd.read_csv('../Data/MarketDataforTechnicalExercise.csv')
data.head()

    Bob,0.075,640
0  Jane,0.069,480
1  Fred,0.071,520
2  Mary,0.104,170
3  John,0.081,320
4  Dave,0.074,140

In [18]:
import pandas as pd
def print_shape (dataframe):
    return print(dataframe.shape)
print_shape(data)

(27, 1)

In [16]:
data.shape

(27, 1)

In [19]:
from ToolsLoanCalculator import Prueba

In [22]:
Prueba.print_shape(data)

(27, 1)